<h3>Available cities</h3>
<% if @cities.any? %>
  <ul> <% @cities.each do |city| %>      
    <li> <a href="/cities/<%= city.id %>"><strong><%= city.name %></strong></a> </li>
  <% end %>
  </ul>
<% else %>
  <p>There are currently no Cities to display.</p>
<% end %>

<a href="/cities/new"><button class="btn-success">Add a new city</button></a>

<form action="/cities" method="post">
  <input name="_method" type="hidden" value="delete">
  <button type="submit" class="btn btn-danger">Remove ALL Cities?</button>
</form>

<a href="/trains"><button class="btn-primary">Back to Trains </button></a>