<h1>Update <%= @train.name() %></h1>

<form action="/trains/<%= @train.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">

  <label for="name">Rename Train</label>
  <input id="name" name="name" type="text" value="<%= @train.name() %>">

  <button type="submit">Update</button>
</form>

<form action="/trains/<%= @train.id() %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit">Delete Train</button>
</form>

<p><a href="/trains">Return to Train list</a></p>