<h2> login if you are operator</h2>

<form action="/trains" method="get">
  <div class="form-group">
    <label for="enter_password">enter password</label>
    <input id="enter_password" name="enter_password" class="form-control" type="text" required>
  </div>
  <button type="submit" class="btn">login</button>
</form>

<h2> or dont to view trains</h2>

<form action="/trains/user" method="get">
  <button type="submit" class="btn">Enter</button>
</form>