<h3>Available Trains</h3>
<% if @trains.any? %>
  <ul> <% @trains.each do |train| %>      
    <li> <a href="/trains/<%= train.id %>"><strong><%= train.name %></strong></a> </li>
  <% end %>
  </ul>
<% else %>
  <p>There are currently no Trains to display.</p>
<% end %>

<a href="/trains/new">Add a new Train</a>
<br>

# <form action="/albums/sort" method="post">
# <label>Sort by:</label>
# <select name="sort_by">
#     <option value="name">alphabetically</option>
#     <option value="year">by year</option>
#     <option value="price">by price</option>
# </select>
# <button type="submit" class="btn-success">Sort</button>
# </form> 

# <form action="/albums/random" method="get">
# <button type="submit" class="btn btn-danger">Get Random Album</button>
# </form>
