<h3>Train Name: <%= @train.name %></h3>



<h3>Train Destinations</h3>

  <% if @train.cities.any? %>
    <ol>
      <% @train.cities.each do |city| %>
        <li><a href="/cities/<%= city.id %>"><%= city.name %></a></li>
      <% end %>
    </ol>
  <% else %>
    <p>This train has no scheduled destinations.</p>
  <% end %>